body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 77%);
}
#myH1 {
  font-size: 4rem;
  font-family: Arial;
  color: hsl(0, 0%, 25%);
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  padding: 30px;
  background-color: white;
}
#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
  text-overflow: 2px 2px 2px black;
  margin-bottom: 25px;
}
#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
#startBtn {
  background-color: hsl(115, 100%, 40%);
}
#startBtn:hover {
  background-color: hsl(115, 100%, 30%);
}
#stopBtn {
  background-color: hsl(0, 100%, 50%);
}
#stopBtn:hover {
  background-color: hsl(0, 100%, 30%);
}
#resetBtn {
  background-color: hsl(199, 100%, 60%);
}
#resetBtn:hover {
  background-color: hsl(199, 100%, 30%);
}
#controls button:active {
  transform: scale(0.95);
}
